USE [master]
GO
/****** Object:  Database [MotoFixTest]    Script Date: 3/10/2026 1:09:25 PM ******/
CREATE DATABASE [MotoFixTest]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MotoFixTest', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoFixTest.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MotoFixTest_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MotoFixTest_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MotoFixTest].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MotoFixTest]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[lastName] [nvarchar](100) NULL,
	[firstName] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[AvatarUrl] [nvarchar](255) NULL,
	[Role] [varchar](20) NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NULL,
	[BookingDate] [datetime] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Address] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Salary] [decimal](18, 0) NULL,
	[HireDate] [date] NULL,
	[FullName] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[TotalAmount] [decimal](18, 0) NOT NULL,
	[Discount] [decimal](18, 0) NULL,
	[FinalAmount] [decimal](18, 0) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentStatus] [nvarchar](20) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[PartName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[ImportPrice] [decimal](18, 0) NULL,
	[SellingPrice] [decimal](18, 0) NOT NULL,
	[StockQuantity] [int] NULL,
	[ImageURL] [nvarchar](255) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairOrders]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[CustomerID] [int] NOT NULL,
	[VehicleID] [int] NOT NULL,
	[EmployeeID] [int] NULL,
	[CurrentOdometer] [int] NULL,
	[Diagnosis] [nvarchar](max) NULL,
	[Note] [nvarchar](max) NULL,
	[Status] [varchar](20) NULL,
	[CreatedAt] [datetime] NULL,
	[CompletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairPartDetails]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairPartDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RepairServiceDetails]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RepairServiceDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[UnitPrice] [decimal](18, 0) NOT NULL,
	[TotalPrice]  AS ([Quantity]*[UnitPrice]),
PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Price] [decimal](18, 0) NOT NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 3/10/2026 1:09:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[VehicleID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[PlateNumber] [varchar](20) NOT NULL,
	[Brand] [nvarchar](50) NULL,
	[Model] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[VehicleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [lastName], [firstName], [Email], [AvatarUrl], [Role], [IsActive], [CreatedAt]) VALUES (1, N'admin', N'a665a45920422f9d417e4867efdc4fb8a04a1f3fff1fa07e998e86f7f7a27ae3', N'Hệ', N'Thống', N'admin@motofix.com', NULL, N'ADMIN', 1, CAST(N'2026-02-26T14:19:50.750' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [lastName], [firstName], [Email], [AvatarUrl], [Role], [IsActive], [CreatedAt]) VALUES (2, N'customer2', N'hash2', NULL, N'Lê Bình', N'binhbong@gmail.com', NULL, N'USER', 1, CAST(N'2026-02-26T14:19:50.750' AS DateTime))
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [lastName], [firstName], [Email], [AvatarUrl], [Role], [IsActive], [CreatedAt]) VALUES (3, N'customer3', N'hash3', N'Trần', N'Cảnh', N'canh@gmail.com', NULL, N'USER', 1, CAST(N'2026-02-26T14:19:50.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [BookingDate], [Note], [Status], [CreatedAt]) VALUES (1, 1, 1, CAST(N'2026-02-27T14:19:50.753' AS DateTime), N'Xe đi có tiếng kêu rít ở bánh trước', N'PENDING', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [BookingDate], [Note], [Status], [CreatedAt]) VALUES (2, 2, 3, CAST(N'2026-02-24T14:19:50.753' AS DateTime), N'Đến hẹn thay dầu và bảo dưỡng định kỳ', N'COMPLETED', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
INSERT [dbo].[Bookings] ([BookingID], [CustomerID], [VehicleID], [BookingDate], [Note], [Status], [CreatedAt]) VALUES (3, 3, 4, CAST(N'2026-02-25T14:19:50.753' AS DateTime), N'Xe khó nổ máy vào buổi sáng', N'COMPLETED', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [AccountID], [Address]) VALUES (1, 1, N'123 Đường Láng, Đống Đa, Hà Nội')
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [Address]) VALUES (2, 2, N'456 Cầu Giấy, Hà Nội')
INSERT [dbo].[Customers] ([CustomerID], [AccountID], [Address]) VALUES (3, 3, N'789 Nguyễn Trãi, Thanh Xuân, Hà Nội')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [HireDate], [FullName], [Phone], [Status]) VALUES (1, N'Thợ chính', CAST(15000000 AS Decimal(18, 0)), CAST(N'2026-02-26' AS Date), N'Tran Phuc', N'0911192199', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [HireDate], [FullName], [Phone], [Status]) VALUES (2, N'Thợ phụ', CAST(8000000 AS Decimal(18, 0)), CAST(N'2026-02-26' AS Date), N'Cong Tien', N'0911192198', 1)
INSERT [dbo].[Employees] ([EmployeeID], [Position], [Salary], [HireDate], [FullName], [Phone], [Status]) VALUES (3, N'Thu ngân', CAST(10000000 AS Decimal(18, 0)), CAST(N'2026-02-26' AS Date), N'Van Tung', N'0911192197', 0)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Invoices] ON 

INSERT [dbo].[Invoices] ([InvoiceID], [OrderID], [CustomerID], [EmployeeID], [TotalAmount], [Discount], [FinalAmount], [PaymentMethod], [PaymentStatus], [CreatedDate]) VALUES (1, 1, 2, 3, CAST(350000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)), CAST(350000 AS Decimal(18, 0)), N'BANK_TRANSFER', N'PAID', CAST(N'2026-02-26T14:19:50.757' AS DateTime))
INSERT [dbo].[Invoices] ([InvoiceID], [OrderID], [CustomerID], [EmployeeID], [TotalAmount], [Discount], [FinalAmount], [PaymentMethod], [PaymentStatus], [CreatedDate]) VALUES (2, 2, 3, 3, CAST(425000 AS Decimal(18, 0)), CAST(25000 AS Decimal(18, 0)), CAST(400000 AS Decimal(18, 0)), N'CASH', N'PAID', CAST(N'2026-02-26T14:19:50.757' AS DateTime))
SET IDENTITY_INSERT [dbo].[Invoices] OFF
GO
SET IDENTITY_INSERT [dbo].[Parts] ON 

INSERT [dbo].[Parts] ([PartID], [PartName], [Description], [ImportPrice], [SellingPrice], [StockQuantity], [ImageURL], [IsActive]) VALUES (1, N'Dầu nhớt Motul 3100', N'Nhớt bán tổng hợp 1 Lít', CAST(100000 AS Decimal(18, 0)), CAST(150000 AS Decimal(18, 0)), 50, NULL, 1)
INSERT [dbo].[Parts] ([PartID], [PartName], [Description], [ImportPrice], [SellingPrice], [StockQuantity], [ImageURL], [IsActive]) VALUES (2, N'Má phanh đĩa Honda', N'Dùng cho các dòng xe tay ga Honda', CAST(80000 AS Decimal(18, 0)), CAST(130000 AS Decimal(18, 0)), 30, NULL, 1)
INSERT [dbo].[Parts] ([PartID], [PartName], [Description], [ImportPrice], [SellingPrice], [StockQuantity], [ImageURL], [IsActive]) VALUES (3, N'Bugi NGK', N'Bugi tiêu chuẩn', CAST(35000 AS Decimal(18, 0)), CAST(55000 AS Decimal(18, 0)), 100, NULL, 1)
SET IDENTITY_INSERT [dbo].[Parts] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairOrders] ON 

INSERT [dbo].[RepairOrders] ([OrderID], [BookingID], [CustomerID], [VehicleID], [EmployeeID], [CurrentOdometer], [Diagnosis], [Note], [Status], [CreatedAt], [CompletedAt]) VALUES (1, 2, 2, 3, 1, 15000, N'Xe hết dầu, má phanh trước bị mòn gắt', N'Đã thay mới và vệ sinh', N'COMPLETED', CAST(N'2026-02-26T14:19:50.757' AS DateTime), CAST(N'2026-02-26T14:19:50.757' AS DateTime))
INSERT [dbo].[RepairOrders] ([OrderID], [BookingID], [CustomerID], [VehicleID], [EmployeeID], [CurrentOdometer], [Diagnosis], [Note], [Status], [CreatedAt], [CompletedAt]) VALUES (2, 3, 3, 4, 2, 22500, N'Bugi đánh lửa kém, kim phun dơ', N'Đã thay bugi và vệ sinh kim phun', N'COMPLETED', CAST(N'2026-02-26T14:19:50.757' AS DateTime), CAST(N'2026-02-26T14:19:50.757' AS DateTime))
INSERT [dbo].[RepairOrders] ([OrderID], [BookingID], [CustomerID], [VehicleID], [EmployeeID], [CurrentOdometer], [Diagnosis], [Note], [Status], [CreatedAt], [CompletedAt]) VALUES (3, NULL, 1, 2, 1, 5200, N'Khách vãng lai: Thủng lốp sau', N'Đang chờ lấy phụ tùng', N'IN_PROGRESS', CAST(N'2026-02-26T14:19:50.757' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[RepairOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairPartDetails] ON 

INSERT [dbo].[RepairPartDetails] ([DetailID], [OrderID], [PartID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(150000 AS Decimal(18, 0)))
INSERT [dbo].[RepairPartDetails] ([DetailID], [OrderID], [PartID], [Quantity], [UnitPrice]) VALUES (2, 1, 2, 1, CAST(130000 AS Decimal(18, 0)))
INSERT [dbo].[RepairPartDetails] ([DetailID], [OrderID], [PartID], [Quantity], [UnitPrice]) VALUES (3, 2, 3, 1, CAST(55000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[RepairPartDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RepairServiceDetails] ON 

INSERT [dbo].[RepairServiceDetails] ([DetailID], [OrderID], [ServiceID], [Quantity], [UnitPrice]) VALUES (1, 1, 1, 1, CAST(20000 AS Decimal(18, 0)))
INSERT [dbo].[RepairServiceDetails] ([DetailID], [OrderID], [ServiceID], [Quantity], [UnitPrice]) VALUES (2, 1, 4, 1, CAST(50000 AS Decimal(18, 0)))
INSERT [dbo].[RepairServiceDetails] ([DetailID], [OrderID], [ServiceID], [Quantity], [UnitPrice]) VALUES (3, 2, 2, 1, CAST(250000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[RepairServiceDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [IsActive]) VALUES (1, N'Thay dầu nhớt máy', N'Công thay dầu nhớt và kiểm tra ốc xả', CAST(20000 AS Decimal(18, 0)), 1)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [IsActive]) VALUES (2, N'Bảo dưỡng toàn bộ', N'Kiểm tra và vệ sinh các chi tiết xe cơ bản', CAST(250000 AS Decimal(18, 0)), 0)
INSERT [dbo].[Services] ([ServiceID], [ServiceName], [Description], [Price], [IsActive]) VALUES (3, N'Vệ sinh kim phun điện tử', N'Làm sạch buồng đốt và kim phun FI', CAST(120000 AS Decimal(18, 0)), 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicles] ON 

INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [PlateNumber], [Brand], [Model], [CreatedAt]) VALUES (1, 1, N'29A1-123.45', N'Honda', N'Air Blade 125', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [PlateNumber], [Brand], [Model], [CreatedAt]) VALUES (2, 1, N'29B1-678.90', N'Yamaha', N'Exciter 150', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
INSERT [dbo].[Vehicles] ([VehicleID], [CustomerID], [PlateNumber], [Brand], [Model], [CreatedAt]) VALUES (3, 2, N'30C2-111.22', N'Honda', N'Vision 2022', CAST(N'2026-02-26T14:19:50.753' AS DateTime))
SET IDENTITY_INSERT [dbo].[Vehicles] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E4684D09CF]    Script Date: 3/10/2026 1:09:25 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Invoices__C3905BAE9B10F0F0]    Script Date: 3/10/2026 1:09:25 PM ******/
ALTER TABLE [dbo].[Invoices] ADD UNIQUE NONCLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Vehicles__03692624A82713ED]    Script Date: 3/10/2026 1:09:25 PM ******/
ALTER TABLE [dbo].[Vehicles] ADD UNIQUE NONCLUSTERED 
(
	[PlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Accounts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('CASH') FOR [PaymentMethod]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT ('UNPAID') FOR [PaymentStatus]
GO
ALTER TABLE [dbo].[Invoices] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Parts] ADD  DEFAULT ((0)) FOR [ImportPrice]
GO
ALTER TABLE [dbo].[Parts] ADD  DEFAULT ((0)) FOR [StockQuantity]
GO
ALTER TABLE [dbo].[Parts] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[RepairOrders] ADD  DEFAULT ('RECEIVED') FOR [Status]
GO
ALTER TABLE [dbo].[RepairOrders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RepairPartDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[RepairServiceDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Vehicles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[Accounts] ([AccountID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[RepairOrders] ([OrderID])
GO
ALTER TABLE [dbo].[RepairOrders]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO
ALTER TABLE [dbo].[RepairOrders]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[RepairOrders]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RepairOrders]  WITH CHECK ADD FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicles] ([VehicleID])
GO
ALTER TABLE [dbo].[RepairPartDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[RepairOrders] ([OrderID])
GO
ALTER TABLE [dbo].[RepairPartDetails]  WITH CHECK ADD FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[RepairServiceDetails]  WITH CHECK ADD FOREIGN KEY([OrderID])
REFERENCES [dbo].[RepairOrders] ([OrderID])
GO
ALTER TABLE [dbo].[RepairServiceDetails]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([Status]='COMPLETED' OR [Status]='CANCELLED' OR [Status]='CONFIRMED' OR [Status]='PENDING'))
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD CHECK  (([PaymentStatus]='PAID' OR [PaymentStatus]='UNPAID'))
GO
ALTER TABLE [dbo].[RepairOrders]  WITH CHECK ADD CHECK  (([Status]='CANCELLED' OR [Status]='COMPLETED' OR [Status]='IN_PROGRESS' OR [Status]='RECEIVED'))
GO
USE [master]
GO
